{
  "app": {
    "signingConfigs": [
      {
        "name": "default",
        "type": "HarmonyOS",
        "material": {
          "certpath": "C:\\path\\to\\debug.cer",
          "keyAlias": "debugKey",
          "keyPassword": "DEV_ECO_ENCRYPTED_PASSWORD",
          "profile": "C:\\path\\to\\debug.p7b",
          "signAlg": "SHA256withECDSA",
          "storeFile": "C:\\path\\to\\debug.p12",
          "storePassword": "DEV_ECO_ENCRYPTED_PASSWORD"
        }
      }
    ],
    "products": [
      {
        "name": "default",
        "signingConfig": "default",
        "targetSdkVersion": "26.0.0",
        "compatibleSdkVersion": "6.0.0(20)",
        "runtimeOS": "HarmonyOS",
        "buildOption": {
          "nativeCompiler": "BiSheng",
          "strictMode": {
            "caseSensitiveCheck": true,
            "useNormalizedOHMUrl": true
          }
        }
      }
    ],
    "buildModeSet": [
      {
        "name": "debug"
      },
      {
        "name": "release"
      }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": [
            "default"
          ]
        }
      ]
    }
  ]
}
