img {
  display: inline;
  height: auto;
  max-width: 100%;
}

html {
  background-color: transparent;
  word-break: break-word;
}

body {
  background-color: transparent;
}

pre {
  width: 100%;
  overflow-x: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  white-space: pre-wrap;
}

img.lazy {
  /*隐藏知乎的透明占位图*/
  display: none;
}

figure {
  margin: 0;
}

/* 暗色主题样式 */
body.dark-theme {
  color: #fff;
}

body.dark-theme pre {
  background-color: #262626;
  color: #fff;
}

body.dark-theme code {
  color: #fff;
}

body.dark-theme blockquote {
  background-color: #444;
  color: #fff;
}

body.dark-theme hr {
  border-color: #666;
}

body.dark-theme img {
  background-color: white;
}
