img {
  display: inline;
  height: auto;
  max-width: 100%;
}

html {
  background-color: transparent;
  word-break: break-word;
}

body {
  background-color: transparent;
}

pre {
  width: 100%;
  overflow-x: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  white-space: pre-wrap;
}

img.lazy {
  /*隐藏知乎的透明占位图*/
  display: none;
}

figure {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  color: #fff;
  html {
    color: #fff;
  }

  body {
    color: #fff;
  }

  pre {
    background-color: #262626;
    color: #fff;
  }

  code {
    color: #fff;
  }

  blockquote {
    background-color: #444;
    color: #fff;
  }

  hr {
    border-color: #666;
  }

  img {
    background-color: white;
  }
}
