<?xml version="1.0" encoding="UTF-8"?>
<!--
  Zhihu++ - Free & Ad-Free Zhihu client for all platforms.
  Copyright (C) 2024-2026, zly2006 <i@zly2006.me>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation (version 3 only).

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>ZhihuPlusPlusUiDebug</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.zly2006.zhihu.macos.ui-debug</string>
    <key>CFBundleName</key>
    <string>Zhihu++ UI Debug</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@APP_VERSION_NAME@</string>
    <key>CFBundleVersion</key>
    <string>@APP_VERSION_CODE@</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
