<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Zhihu"
            tools:targetApi="31">
        <activity
                android:name=".LoginActivity"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="www.zhihu.com"/>
                <data android:pathPrefix="/question/.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="zhihu" />
            </intent-filter>

            <intent-filter
                    android:autoVerify="true">

                <action
                        android:name="android.intent.action.VIEW" />

                <category
                        android:name="android.intent.category.DEFAULT" />

                <category
                        android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:host="ms.zhihu.com"/>
                <data android:pathPattern="/.*"/>

                <data android:scheme="http"/>
                <data android:host="oia.zhihu.com"/>
                <data android:pathPattern="/.*"/>

                <data android:host="www.zhihu.com"/>
                <data android:pathPattern="/question/.*"/>

                <data android:pathPattern="/question/.*/answer/.*"/>

                <data android:pathPattern="/answer/.*"/>
                <data android:pathPattern="/collection/.*"/>
                <data android:pathPattern="/people/.*"/>
                <data android:pathPattern="/topic/.*"/>
                <data android:pathPattern="/roundtable/.*"/>
                <data android:pathPattern="/lives/.*"/>

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/org/.*" />

                <data
                        android:scheme="http"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="http"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*/.*" />

                <data
                        android:scheme="http"
                        android:host="promotion.zhihu.com"
                        android:pathPattern="/p/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/publications/.*/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/zhihu" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/collection/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/book/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pin/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/links/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/coupon/.*" />

                <data
                        android:scheme="https"
                        android:host="ms.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="oia.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*/answer/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/answer/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/collection/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/people/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/topic/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/roundtable/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/lives/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/org/.*" />

                <data
                        android:scheme="https"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*/.*" />

                <data
                        android:scheme="https"
                        android:host="promotion.zhihu.com"
                        android:pathPattern="/p/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/publications/.*/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/zhihu" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/collection/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/book/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pin/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/links/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/coupon/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/remix/albums/.*" />
            </intent-filter>
            <intent-filter>

                <action
                        android:name="android.intent.action.VIEW" />

                <category
                        android:name="android.intent.category.DEFAULT" />

                <category
                        android:name="android.intent.category.BROWSABLE" />

                <data
                        android:scheme="https"
                        android:host="activity.zhihu.com"
                        android:pathPattern="/.*/.*" />

                <data
                        android:scheme="zhihu"
                        android:host="activity"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="zhihu"
                        android:host="activity"
                        android:pathPattern="/.*/.*" />
            </intent-filter>
            <intent-filter
                    android:autoVerify="true">

                <action
                        android:name="android.intent.action.VIEW" />

                <category
                        android:name="android.intent.category.DEFAULT" />

                <category
                        android:name="android.intent.category.BROWSABLE" />

                <data
                        android:scheme="http"
                        android:host="ms.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="http"
                        android:host="oia.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*/answer/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/answer/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/collection/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/people/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/topic/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/roundtable/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/lives/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/org/.*" />

                <data
                        android:scheme="http"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="http"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*/.*" />

                <data
                        android:scheme="http"
                        android:host="promotion.zhihu.com"
                        android:pathPattern="/p/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/publications/.*/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/zhihu" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/collection/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/book/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pin/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/links/.*" />

                <data
                        android:scheme="http"
                        android:host="www.zhihu.com"
                        android:pathPattern="/coupon/.*" />

                <data
                        android:scheme="https"
                        android:host="ms.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="oia.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/question/.*/answer/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/answer/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/collection/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/people/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/topic/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/roundtable/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/lives/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/org/.*" />

                <data
                        android:scheme="https"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*" />

                <data
                        android:scheme="https"
                        android:host="zhuanlan.zhihu.com"
                        android:pathPattern="/.*/.*" />

                <data
                        android:scheme="https"
                        android:host="promotion.zhihu.com"
                        android:pathPattern="/p/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/publications/.*/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/zhihu" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/collection/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pub/book/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/pin/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/links/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/coupon/.*" />

                <data
                        android:scheme="https"
                        android:host="www.zhihu.com"
                        android:pathPattern="/remix/albums/.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
